h1{color: rgb(212, 192, 7);
    border: 5px green solid;
    padding: 10px; 
    padding-left: 100px;
    margin: 50px;}
    .caixa{border: 10px;
    padding: 20px;}
    img{padding: 40px;}


